<div class="navbar fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Brand name/logo aligned left -->
            <a class="navbar-brand">ร้านมอไซค์ By น้องนิว</a>

            <!-- Navbar links and collapse -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <!-- Verify Records -->
                    <li class="nav-item">
                        <a class="nav-link" href="/sell">ขาย</a>
                    </li>                    
                    <!-- Export Dataset -->
                    <li class="nav-item">
                        <a class="nav-link" href="/bills">ดูบิล</a>
                    </li>
                    <!-- Medicine Info -->
                    <li class="nav-item">
                        <a class="nav-link" href="/motorcycle">ข้อมูลมอเตอร์ไซค์</a>
                    </li>
                    <!-- Plant Info -->
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">ข้อมูลลูกค้า</a>
                    </li>
                    <!-- User Management -->
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">สำหรับแอดมิน</a>
                    </li>
                </ul>

                <!-- Logout button pushed to the right -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="font-weight: 400;">ลงชื่อออก</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
